{% extends 'base.html.twig' %}

{% block title %}Investir{% endblock %}

{% block body %}

<h1>Investimentos de renda fixa</h1>

{% for item in produtosForm %}

 <div style="display: flex; gap: 20px; align-items: center; margin-bottom: 40px;">
    {% set form = item.form %}
    {% set produto = item.produto %}

    {{ form_start(form) }}
    {{produto.nomeInvestimento}}
        <div style="display: flex; flex-direction: column;">
            {{ form_row(form.saldo_inicial) }}
        </div>
        <div style="display: flex; flex-direction: column;">
            {{ form_row(form.data_investimento) }}
        </div>
        <div>
            {{ form_row(form.simular_investimento) }}
        </div>
    {{ form_end(form) }}

</div>

{% endfor %}

{% if simulacoes is defined %}
    <div style="display: flex; gap:25px;">
        <p style="margin:0px; padding:0px;">Saldo Final: {{ simulacoes.saldoFinal|default('') }} </p>
        <p style="margin:0px; padding:0px;">Ganhos: {{ simulacoes.ganhos|default('') }} </p>
    </div>
{% endif %}

{% for simulacao in app.flashes('simulacoes') %}
    <div style="display: flex; gap:25px;">
        <p style="margin:0px; padding:0px;">Saldo Final: {{ simulacao.saldoFinal|default('') }} </p>
        <p style="margin:0px; padding:0px;">Ganhos: {{ simulacao.ganhos|default('') }} </p>
    </div>
{% endfor %}

{% endblock %}